{% extends 'base.html.twig' %}

{% block title %}A propos de nous!{% endblock %}

{% block body %}

<div class="col-12 ">
        

    <h1> Here's a little bit about us.... </h1>
    <br>
    <br>
 

        <div class="m-5" >
            <p>Our goal with <strong>Mamayayatoh SAS</strong> is to bring happiness around the world by offering products that are guaranteed to boost your mood, make your love one smile and create memories.<br>Our products are manufactured with care and we source the best possible materials to create healthy, delicious, durable, fun, and great quality products.</p>

            <p><strong>Mamayayatoh SAS</strong> was created in 2021 during a time when many were at their lows. The founder of <strong>Mamayayatoh SAS</strong> Zelapanthere , grew up in Evodoula a small village in Cameroon, <br>where, everybody was able to shine and show their true beauty - by being kind to each other. To bring the joy and happiness her village gave her, she decided to create <strong>Mamayayatoh</strong><br> where people can find what they are looking for their love one or for themselves.

            <p>Here is the shop that helps you find healthy food, perfect gift for birthdays, Christmas, weddings, mariage proposal, valentine's Day, mother's Day, Vater's Day, baby's shower <br>and more and everyone can sell their item here for free.</p>

            <p>Cause we are all mean to shine let shine bright together.</p>
        </div>    
</div> 

{% endblock %}
