{% extends 'base.html.twig' %}

{% block description %}Page de paiement{% endblock %}

{% block title %}paiement{% endblock %}

{# {% block breadcrump %} / <a href="{{ path('cart') }}">Panier</a> / <a href="{{ path('cart_validation') }}">Validation</a> / Paiement{% endblock %} #}

{% block h1 %}Paiement{% endblock %}

{% block body %}

{% endblock %}

{% block javascripts %}

    <script src="https://js.stripe.com/v3/"></script>

    <script>
        var stripe = Stripe('pk_test_51Le0dIKhOJnU8RJKTxlD1GSQbBISYxcCnW8ErpW8x7YgDUO6pNoa59STGjXtyIe6z9XiEbmhhFSLrlFE30W7yxnK005y1q1ots'); // initialise Stripe
        stripe.redirectToCheckout({
            sessionId: '{{ sessionId }}'
        })
    </script>

{% endblock %}